.card-container {
    margin: 20px;
  }
  
  .input-form {
    display: flex;
    align-items: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .icon {
    font-size: 36px;
    margin-left: 10px;
    color: #ff9800; /* 可以根据需要更改颜色 */
  }